################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch02/scalability-sample/obj
/ch02/scalability-sample/bin
/ch02/performance-issues/bin
/ch02/performance-issues/obj
/ch02/.vs
/ch08/.vs/ch08/v15
/ch09/.vs/ch09/v15
/ch09/GenericHost/obj
/ch09/GenericHost/bin/Debug/netcoreapp2.2
/ch09/.vs/config
/ch11/dotNetStandardLibrary/bin/Debug/netstandard2.0
/ch11/dotNetStandardLibrary/obj
/ch11/CodeReuseLibrary/bin/Debug/netcoreapp2.2
/ch11/CodeReuseLibrary/obj
/ch11/CodeReuse/obj
/ch11/CodeReuse/bin/Debug/netcoreapp2.2
/ch11/.vs
/ch14/.vs/ch14/v15
